/* Basic Button */
.button {
	min-width: 150px;
	max-width: 250px;
	padding: 1rem 2rem;
	border: none;
	color: black;
	position: relative;
    z-index: 1;
    letter-spacing:0.2rem;
    cursor: pointer;
}

.button:focus,
.button:hover {
	outline: none;
}

/* Antiman Button - Dark Mode */
.buttonAntiman {
    color: #ffffff;
	background: none;
	border: none;
	transition: all 0.3s;
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.buttonAntiman::before,
.buttonAntiman::after {
	content: '';
	z-index: -1;
	border-radius: inherit;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s;
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

// /* Antiman Button - Light Mode */
// .buttonAntiman-light-mode{
//     color:black;
// }
// .buttonAntiman-light-mode::after {
//     background: #FCEC37;
// }
// .buttonAntiman-light-mode:hover::before,
// .buttonAntiman-light-mode:focus::before {
//     background:#F6C62B;
// }
// .buttonAntiman-light-mode::before {
// 	border: 2px solid black;
// 	opacity: 0;
// 	transform: scale3d(1.2, 1.2, 1);
// }

/* Decorative Button */

.buttonDeco{
    width:200px;
    height:50px;
    border-radius: 3px;
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    margin-bottom: 20px;
}

.buttonDeco:hover{
    letter-spacing: 0.25rem;
    font-size: 20px;
    cursor: pointer;
    font-weight: bolder;
}

