/* Menu */
.hide{
    display:none;
    z-index:200;
    cursor: pointer;
    transition: 0.15s color ease-out;
}

#click_id{
    opacity:0;
    position: absolute;
    left:-1000%;
    top:-1000%;
}

/* Header Icon */
.headerIcon{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}