// Monkey .headerMonkey
.monkeyContainer{
    position: relative;
    width: 150px;
    height: 150px;
}

.headerMonkeyHover{
    width: 100%;
    height: 100%;
}

.monkeyContainer:hover .headerMonkeyHover{
    cursor: pointer;
    opacity: 0;
}

.monkeyContainerHover:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background-image: url('../images/monkeyHover.png');
    background-size: cover;
    opacity: 1;
}

.monkeyMove{
    position: relative;
    animation-name: dance;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
@keyframes dance{
    0%    {left:0; top:0;}
    25%   {left:-150px; top:0;}
    28%   {left:-130px; top:-40px;}
    35%   {left:-100px; top:0}
    50%   {left:200px; top:0;}
    55%   {left:150px; top:-30px;}
    63%   {left:130px; top:0;}
    80%   {left:-100px; top:0;}
    100%  {left:0; top:0;}
}

.monkeyFly{
    position: relative;
    animation-name: Fly;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
}

@keyframes Fly{
    0%    {left:0; top:0;}
    5%   {left:0; top:0;}
    10%   {left:0; top:-20px;}
    20%   {left:0; top:-1000px}
    22%   {left:-200px; top:-500px}
    31%   {left:-180px; top:-150px}
    45%   {left:150px; top:-180px;}
    60%   {left:-160px; top:-200px;}
    70%   {left:100px; top:-120px;}
    80%   {left:0px; top:-100px;}
    90%   {left:0px; top:-40px;}
    93%   {left:0px; top:-5px;}
    100%  {left:0; top:0;}
}

.monkeyKing{
    position: relative;
    animation-name: King;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}
@keyframes King{
    0%    {left:0; top:0;}
    42%   {left:0; top:0}
    48%   {left:70px; top:0}
    53%   {left:-1500px; top:-10px;}
    54%   {left:-1500px; top:-1000px;}
    55%   {left:4000px; top:-1000px;}
    56%   {left:4000px; top:-40px;}
    57%   {left:1200px; top:-40px;}
    70%   {left:200px; top:-50px;}
    79%   {left:0px; top:-30px;}
    82%   {left:0px; top:-35px;}
    86%   {left:0px; top:-30px;}
    90%   {left:0px; top:-35px;}
    94%   {left:0px; top:-30px;}
    100%   {left:0; top:0;} 
}