html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
footer p,
h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

main,
footer,
header li a {
  font-family: 'Play', sans-serif;
}

:root {
  --animate-delay: 0s;
  --animate-repeat: 0;
}

header h4 {
  font-family: 'Chewy', cursive;
  width: 50%;
}

h1 {
  font-size: 8rem;
}

@media (max-width: 480px) {
  h1 {
    font-size: 6rem;
  }
}

p {
  font-size: 1.8rem;
  line-height: 3rem;
}

@media (max-width: 480px) {
  p {
    font-size: 1.6rem;
  }
}

h2 {
  font-size: 4.5rem;
}

@media (max-width: 480px) {
  h2 {
    font-size: 2.4rem;
  }
}

.firstView h3 {
  font-size: 3rem;
}

h3 {
  font-size: 2.3rem;
}

header {
  height: 50px;
  width: 100%;
  z-index: 10;
  background: #121f1f;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .headerContainer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

header nav ul,
footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer nav ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

header ul li,
footer ul li {
  list-style-type: none;
}

header a {
  cursor: pointer;
  margin: 0 20px;
  text-transform: uppercase;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  header a {
    margin: 0 12px;
  }
}

@media (max-width: 480px) {
  header a {
    margin: 0 5px;
  }
}

@media (max-width: 480px) {
  header h4 {
    display: none;
  }
}

main figcaption a {
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header a:hover,
header a:focus,
footer a:hover,
footer a:focus,
main .firstView a:hover,
main .firstView a:focus,
.circleDecoration:hover,
.circleDecoration:focus,
main figcaption a:hover,
main figcaption a:focus {
  color: orange;
}

main .firstView a:hover,
main .firstView a:focus,
footer a:hover,
footer a:focus,
.circleDecoration:hover,
.circleDecoration:focus {
  border: solid orange;
}

.headerMonkey {
  cursor: pointer;
}

.blockRight {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 480px) {
  .blockRight {
    width: initial;
  }
}

.monkeyMove {
  position: relative;
  -webkit-animation-name: dance;
          animation-name: dance;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes dance {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: -150px;
    top: 0;
  }
  28% {
    left: -130px;
    top: -40px;
  }
  35% {
    left: -100px;
    top: 0;
  }
  50% {
    left: 200px;
    top: 0;
  }
  55% {
    left: 150px;
    top: -30px;
  }
  63% {
    left: 130px;
    top: 0;
  }
  80% {
    left: -100px;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes dance {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: -150px;
    top: 0;
  }
  28% {
    left: -130px;
    top: -40px;
  }
  35% {
    left: -100px;
    top: 0;
  }
  50% {
    left: 200px;
    top: 0;
  }
  55% {
    left: 150px;
    top: -30px;
  }
  63% {
    left: 130px;
    top: 0;
  }
  80% {
    left: -100px;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.monkeyDunk {
  position: relative;
  -webkit-animation-name: Dunk;
          animation-name: Dunk;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes Dunk {
  0% {
    left: 0;
    top: 0;
  }
  20% {
    left: -180px;
    top: 0;
  }
  23% {
    left: -150px;
    top: -20px;
  }
  25% {
    left: -130px;
    top: 0;
  }
  48% {
    left: -20px;
    top: 0;
  }
  51% {
    left: 10px;
    top: -40px;
  }
  56% {
    left: 30px;
    top: 0px;
  }
  80% {
    left: 170px;
    top: 0px;
  }
  82% {
    left: 190px;
    top: -60px;
  }
  88% {
    left: 200px;
    top: 0px;
  }
  95% {
    left: 220px;
    top: 0px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes Dunk {
  0% {
    left: 0;
    top: 0;
  }
  20% {
    left: -180px;
    top: 0;
  }
  23% {
    left: -150px;
    top: -20px;
  }
  25% {
    left: -130px;
    top: 0;
  }
  48% {
    left: -20px;
    top: 0;
  }
  51% {
    left: 10px;
    top: -40px;
  }
  56% {
    left: 30px;
    top: 0px;
  }
  80% {
    left: 170px;
    top: 0px;
  }
  82% {
    left: 190px;
    top: -60px;
  }
  88% {
    left: 200px;
    top: 0px;
  }
  95% {
    left: 220px;
    top: 0px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.monkeyFly {
  position: relative;
  -webkit-animation-name: Fly;
          animation-name: Fly;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes Fly {
  0% {
    left: 0;
    top: 0;
  }
  5% {
    left: 0;
    top: 0;
  }
  10% {
    left: 0;
    top: -20px;
  }
  20% {
    left: 0;
    top: -1000px;
  }
  22% {
    left: -200px;
    top: -500px;
  }
  31% {
    left: -180px;
    top: -150px;
  }
  45% {
    left: 150px;
    top: -180px;
  }
  60% {
    left: -160px;
    top: -200px;
  }
  70% {
    left: 100px;
    top: -120px;
  }
  80% {
    left: 0px;
    top: -100px;
  }
  90% {
    left: 0px;
    top: -40px;
  }
  93% {
    left: 0px;
    top: -5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes Fly {
  0% {
    left: 0;
    top: 0;
  }
  5% {
    left: 0;
    top: 0;
  }
  10% {
    left: 0;
    top: -20px;
  }
  20% {
    left: 0;
    top: -1000px;
  }
  22% {
    left: -200px;
    top: -500px;
  }
  31% {
    left: -180px;
    top: -150px;
  }
  45% {
    left: 150px;
    top: -180px;
  }
  60% {
    left: -160px;
    top: -200px;
  }
  70% {
    left: 100px;
    top: -120px;
  }
  80% {
    left: 0px;
    top: -100px;
  }
  90% {
    left: 0px;
    top: -40px;
  }
  93% {
    left: 0px;
    top: -5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.headerIn {
  -webkit-animation: fadeInDown;
          animation: fadeInDown;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

/* main */
.firstView {
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wordContainerMorn,
.wordContainerAfte,
.wordContainerEven {
  width: 100%;
  position: relative;
  padding-bottom: 2rem;
  color: #F6C62B;
}

.space {
  padding-right: 20px;
}

.letter {
  display: inline-block;
  font-size: 7rem;
  position: relative;
  z-index: 1;
  -webkit-transform: translate3d(-2000px, 0px, 0);
          transform: translate3d(-2000px, 0px, 0);
}

@media (max-width: 768px) {
  .letter {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .letter {
    font-size: 3rem;
  }
}

.upperG:after {
  content: "G";
  font-size: 7rem;
}

@media (max-width: 768px) {
  .upperG:after {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .upperG:after {
    font-size: 3rem;
  }
}

.g:after {
  content: "g";
  font-size: 7rem;
}

@media (max-width: 768px) {
  .g:after {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .g:after {
    font-size: 3rem;
  }
}

.o:after {
  content: "o";
  font-size: 7rem;
}

@media (max-width: 768px) {
  .o:after {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .o:after {
    font-size: 3rem;
  }
}

.d:after {
  content: "d";
  font-size: 7rem;
}

@media (max-width: 768px) {
  .d:after {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .d:after {
    font-size: 3rem;
  }
}

.upperM:after {
  content: "M";
  font-size: 7rem;
}

@media (max-width: 768px) {
  .upperM:after {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .upperM:after {
    font-size: 3rem;
  }
}

.n:after {
  content: "n";
  font-size: 7rem;
}

@media (max-width: 768px) {
  .n:after {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .n:after {
    font-size: 3rem;
  }
}

.i:after {
  content: "i";
  font-size: 7rem;
}

@media (max-width: 768px) {
  .i:after {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .i:after {
    font-size: 3rem;
  }
}

.r:after {
  content: "r";
  font-size: 7rem;
}

@media (max-width: 768px) {
  .r:after {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .r:after {
    font-size: 3rem;
  }
}

.upperA:after {
  content: "A";
  font-size: 7rem;
}

@media (max-width: 768px) {
  .upperA:after {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .upperA:after {
    font-size: 3rem;
  }
}

.f:after {
  content: "f";
  font-size: 7rem;
}

@media (max-width: 768px) {
  .f:after {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .f:after {
    font-size: 3rem;
  }
}

.t:after {
  content: "t";
  font-size: 7rem;
}

@media (max-width: 768px) {
  .t:after {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .t:after {
    font-size: 3rem;
  }
}

.upperE:after {
  content: "E";
  font-size: 7rem;
}

@media (max-width: 768px) {
  .upperE:after {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .upperE:after {
    font-size: 3rem;
  }
}

.e:after {
  content: "e";
  font-size: 7rem;
}

@media (max-width: 768px) {
  .e:after {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .e:after {
    font-size: 3rem;
  }
}

.v:after {
  content: "v";
  font-size: 7rem;
}

@media (max-width: 768px) {
  .v:after {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .v:after {
    font-size: 3rem;
  }
}

.g:after, .upperG:after, .o:after, .d:after, .upperM:after, .r:after, .n:after, .i:after, .upperA:after, .f:after, .t:after, .e:after, .upperE:after, .v:after {
  position: absolute;
  left: 0;
  top: 0px;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: black;
  opacity: 1;
  z-index: 100;
}

.letter:nth-child(1) {
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
}

.letter:nth-child(1):after {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

.letter:nth-child(2) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.letter:nth-child(2):after {
  -webkit-animation-delay: 2.9s;
          animation-delay: 2.9s;
}

.letter:nth-child(3) {
  -webkit-animation-delay: 1.45s;
          animation-delay: 1.45s;
}

.letter:nth-child(3):after {
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}

.letter:nth-child(4) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.letter:nth-child(4):after {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

.letter:nth-child(5) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.letter:nth-child(5):after {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.letter:nth-child(6) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.letter:nth-child(6):after {
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s;
}

.letter:nth-child(7) {
  -webkit-animation-delay: 2.05s;
          animation-delay: 2.05s;
}

.letter:nth-child(7):after {
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}

.letter:nth-child(8) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.letter:nth-child(8):after {
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}

.letter:nth-child(9) {
  -webkit-animation-delay: 2.35s;
          animation-delay: 2.35s;
}

.letter:nth-child(9):after {
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}

.letter:nth-child(10) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.letter:nth-child(10):after {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.letter:nth-child(11) {
  -webkit-animation-delay: 2.65s;
          animation-delay: 2.65s;
}

.letter:nth-child(11):after {
  -webkit-animation-delay: 4.7s;
          animation-delay: 4.7s;
}

.letter:nth-child(12) {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

.letter:nth-child(12):after {
  -webkit-animation-delay: 4.9s;
          animation-delay: 4.9s;
}

.letter:nth-child(13) {
  -webkit-animation-delay: 2.95s;
          animation-delay: 2.95s;
}

.letter:nth-child(13):after {
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
}

.letter {
  -webkit-animation: shows 0.3s 4s 1 ease-out forwards;
          animation: shows 0.3s 4s 1 ease-out forwards;
}

.letter:after {
  -webkit-animation: upc 1s 1 ease-out forwards;
          animation: upc 1s 1 ease-out forwards;
}

@-webkit-keyframes shows {
  0% {
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes shows {
  0% {
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes upc {
  0% {
  }
  30% {
    -webkit-transform: translate3d(1px, -5px, 0);
            transform: translate3d(1px, -5px, 0);
  }
  60% {
    -webkit-transform: translate3d(0, -1px, 0);
            transform: translate3d(0, -1px, 0);
  }
  80% {
    -webkit-transform: translate3d(1px, -5px, 0);
            transform: translate3d(1px, -5px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -3px, 0);
            transform: translate3d(0, -3px, 0);
  }
  100% {
    -webkit-transform: translate3d(1px, -5px, 0);
            transform: translate3d(1px, -5px, 0);
  }
}

@keyframes upc {
  0% {
  }
  30% {
    -webkit-transform: translate3d(1px, -5px, 0);
            transform: translate3d(1px, -5px, 0);
  }
  60% {
    -webkit-transform: translate3d(0, -1px, 0);
            transform: translate3d(0, -1px, 0);
  }
  80% {
    -webkit-transform: translate3d(1px, -5px, 0);
            transform: translate3d(1px, -5px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -3px, 0);
            transform: translate3d(0, -3px, 0);
  }
  100% {
    -webkit-transform: translate3d(1px, -5px, 0);
            transform: translate3d(1px, -5px, 0);
  }
}

.monkeyHead {
  border-radius: 50%;
  display: inline-block;
  background-color: #F6C62B;
}

.profileContainer {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

@media (max-width: 768px) {
  .profileContainer {
    padding: 15px 0;
  }
}

.profilefill {
  width: 300px;
  height: 400px;
}

.firstSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.widthHalf {
  width: 50%;
}

@media (max-width: 768px) {
  .widthHalf {
    width: initial;
    padding-bottom: 130px;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }
}

.textUpper {
  text-transform: uppercase;
}

.skillP {
  text-align: center;
}

.skillBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.introFlexing {
  padding-bottom: 5rem;
}

.flexing,
.introFlexing,
.expFlexing,
.messFlexing,
.proFlexing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .introFlexing,
  .expFlexing {
    display: initial;
  }
}

@media (max-width: 768px) {
  .proFlexing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 480px) {
  .messFlexing {
    display: initial;
  }
}

main h2 {
  -webkit-text-decoration: underline 1px solid black;
          text-decoration: underline 1px solid black;
}

.profileContainer h3 {
  font-size: 3rem;
}

main h2,
main h3,
footer h3 {
  margin-bottom: 4rem;
}

main p {
  margin-bottom: 1.3rem;
}

body {
  background-color: #fff5d7;
  color: #483c0c;
}

/* main */
.aboutSectionHide {
  opacity: 0;
  width: 50%;
}

@media (max-width: 768px) {
  .aboutSectionHide {
    width: initial;
    text-align: center;
    margin-bottom: 3rem;
    padding: 50px 0 0 0;
  }
}

/* show animation */
.showAbout {
  opacity: 1;
  -webkit-animation: fadeInLeft;
          animation: fadeInLeft;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  /*     -webkit-transition: all 0.9s ease-out;
    transition: all 0.9s ease-out; */
}

.orderPlace {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.imgfill {
  vertical-align: middle;
  display: inline-block;
  height: 350px;
}

@media (max-width: 768px) {
  .imgfill {
    width: 100%;
    height: 450px;
  }
}

@media (max-width: 480px) {
  .imgfill {
    height: initial;
  }
}

.appDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px;
  background-color: #EEEEEE;
}

@media (max-width: 768px) {
  .appDescription {
    margin-bottom: 50px;
  }
}

.roundUp {
  margin: 0 auto 30px;
  overflow: hidden;
  max-width: 900px;
  border-radius: 10px;
}

.topping {
  padding-top: 50px;
}

.expTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.treeHeight {
  width: 10rem;
}

.colorPad {
  padding-bottom: 50px;
}

.gitDeco {
  font-size: 1em;
  border-radius: 50%;
  border: solid white;
  color: white;
  line-height: 2em;
  width: 2em;
  height: 2em;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gitDeco:hover,
.gitDeco:focus {
  border: solid orange;
  color: orange;
}

figure {
  position: relative;
}

figcaption {
  color: white;
  font-size: 30px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20% 5% 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(rgba(0, 0, 0, 0.8));
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 480px) {
  figcaption {
    padding: 10% 5% 0;
  }
}

figure:hover figcaption,
figure:focus figcaption {
  display: block;
  opacity: 1;
}

.emailTitle {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding-right: 20px;
}

@media (max-width: 480px) {
  .emailTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 5px;
  }
}

.emailBox {
  width: 950px;
  background-color: #EEEEEE;
  border: none;
  height: 30px;
  padding-left: 5px;
}

@media (max-width: 1200px) {
  .emailBox {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .emailBox {
    width: 250px;
  }
}

.breathingRoom {
  margin-bottom: 10px;
}

.messageBox {
  width: 950px;
  height: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  color: #483c0c;
  background-color: #EEEEEE;
  border: none;
  padding: 5px;
}

@media (max-width: 1200px) {
  .messageBox {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .messageBox {
    width: 250px;
  }
}

.emailContainer {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/* footer class*/
.pageFix {
  position: relative;
  min-height: 100vh;
}

.allWrapping {
  padding-bottom: calc(10rem + 100px);
}

.footerPosition {
  width: 100%;
  height: calc(10rem + 100px);
  position: absolute;
  bottom: 0;
}

.footerDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
}

footer a,
.circleDecoration {
  font-size: 1.8em;
  border-radius: 50%;
  border: solid #483c0c;
  color: #483c0c;
  line-height: 1.8em;
  width: 1.8em;
  height: 1.8em;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer a {
  margin: 0 20px;
}

@media (max-width: 480px) {
  footer a {
    margin: 0 10px;
  }
}

.boxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.boxContainerTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 5;
  border: none;
  outline: none;
  cursor: pointer;
}

.textPosition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-align: center;
  margin: 20px 0;
  cursor: pointer;
}

.formBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

/* progress bar */
.percentage {
  padding: 10px 0;
  opacity: 0;
  position: relative;
}

.animation {
  height: 30px;
  background: #EEEEEE;
}

.animationBar {
  height: 30px;
  width: 0;
  background: #f6c62b;
  position: relative;
  -webkit-transition: all 0.9s ease-out;
  transition: all 0.9s ease-out;
  left: 120px;
}

.label {
  position: absolute;
  right: 10px;
  height: 30px;
  line-height: 30px;
  z-index: 1;
}

.labelTitle {
  position: absolute;
  height: 30px;
  line-height: 30px;
  z-index: 1;
  display: inline-block;
  width: 120px;
  text-align: center;
  background-color: #fcec37;
}

.show {
  opacity: 1;
  -webkit-animation: comeIn 0.8s ease fadeInLeft;
          animation: comeIn 0.8s ease fadeInLeft;
  -webkit-transition: all 0.9s ease-out;
  transition: all 0.9s ease-out;
}

.comeIn:nth-child(odd) {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  /* So they look staggered */
}

.p80 {
  width: calc((100% - 120px) * 0.8);
}

.p70 {
  width: calc((100% - 120px) * 0.7);
}

.p60 {
  width: calc((100% - 120px) * 0.6);
}

/* Reference: https://codepen.io/rafaaro/pen/oNvJQyb */
/* button */
.button {
  min-width: 150px;
  max-width: 250px;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  color: inherit;
  position: relative;
  z-index: 1;
}

.button:focus,
.button:hover {
  outline: none;
}

/* Antiman */
.buttonAntiman {
  background: none;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.buttonAntiman::before,
.buttonAntiman::after {
  content: '';
  z-index: -1;
  border-radius: inherit;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.buttonAntiman::before {
  border: 2px solid #37474f;
  opacity: 0;
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}

.buttonAntiman.button--border-medium::before {
  border-width: 2px;
}

.buttonAntiman::after {
  background: #FCEC37;
}

.buttonAntiman:hover::before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  background: #F6C62B;
}

.buttonAntiman:hover::after {
  opacity: 0;
  -webkit-transform: scale3d(0.8, 0.8, 1);
          transform: scale3d(0.8, 0.8, 1);
}

/* other */
.buttonDeco {
  width: 200px;
  height: 50px;
  padding: 1.5em auto;
  background-color: #FCEC37;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 0.3em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
}

.buttonDeco:hover {
  letter-spacing: 0.5em;
  background-color: #F6C62B;
  font-size: 1.9rem;
  cursor: pointer;
}

.greenPaint {
  background-color: #CFE6AD;
}
